.footer {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }
}
.footer-main-box {
  @media screen and (min-width: 768px) {
    width: 100%;
    padding-left: 61px;
    padding-right: 74px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    width: 507px;
    padding: 0;
    justify-content: start;
    margin-right: 93px;
  }
}
.footer-box-meta {
  @media screen and (min-width: 768px) {
    width: 232px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-left: 0;
  }
}
.footer-meta__list {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    text-align: left;
    margin-bottom: 0;
  }
}
.footer-meta__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $tertiary-text-color;
}
.footer-meta-map__link {
  color: $tertiary-text-color;
}
.footer-meta__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-meta__item:not(:last-child) {
  margin-bottom: 9px;
}
.join__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $tertiary-text-color;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.join {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 206px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.join-social__link {
  background-color: #44454e;
}
.join-social__link {
  fill: $tertiary-text-color;
}
.mailing-form__container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    width: 570px;
  }
}
.mailing-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;

  @media screen and (min-width: 1200px) {
    width: 570px;
    height: 86px;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 0;
  }
}
.mailing-form__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $tertiary-text-color;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.mailing-form__input {
  width: 100%;
  background-color: $secondary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  margin-bottom: 20px;

  color: $tertiary-text-color;
  outline: none;

  transition: border-color 250ms linear;

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  .mailing-form &:hover,
  .mailing-form &:focus {
    border-color: $accent-color;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}

.mailing-btn__body {
  border: none;
  width: 200px;
  height: 50px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $tertiary-text-color;
  display: flex;
  align-items: center;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 0;
  margin-left: 12px;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
.mailing-btn {
  position: relative;
}
.mailing-btn__icon {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translateY(50%);
  fill: $tertiary-text-color;
}
