/* Logo header*/
.logo {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: #000;

  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.logo__web {
  color: $accent-color;
}

/*Footer logo*/
.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    text-align: left;
  }
}
.footer-logo__studio {
  color: $tertiary-text-color;
}
