$primary-bg-color: white;
$secondary-bg-color: #2f303a;
$tertiary-bg-color: #f5f4fa;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$tertiary-text-color: #ffffff;

$primary-font: Roboto, sans-serif;
